.navbar-brand img {
    height: 30px;
    margin-right: 10px;
}

.page-loader {
    background: #b5b7b7;
}

.landing-image-text{
    font-size:13px;
}
.landing-image-text img {
    border-radius: 5px;
    box-shadow: 0px 0px 15px #b7b7b7;
}

.pb-3 {
    padding-bottom:30px;
}
.pt-0 {
    padding-top: 0px;
}
.ad-banner{
    padding-top:150px;
    height: 400px!important;
}